<h1 >This is home page</h1>

<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>


<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About', about_path %> 